### Scraping the data from the IAAF website to build a Pandas DataFrame. This part of the code has been adapted from: https://towardsdatascience.com/web-scraping-html-tables-with-python-c9baba21059 ###

In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
# get url and create a page
url='http://www.iaaf.org/records/all-time-toplists/sprints/100-metres/outdoor/men/senior'
headers = {'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:64.0) Gecko/20100101 Firefox/64.0'}
page = requests.get(url, headers=headers)

# store the contents of the website
doc = lh.fromstring(page.content)

# parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

# in our case the table starts at position 18
tr_elements = tr_elements[18:]

In [3]:
# create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    name=name.strip()
    print '%d:"%s"'%(i,name)
    col.append((name,[]))

1:"Rank"
2:"Mark"
3:"WIND"
4:"Competitor"
5:"DOB"
6:"Nat"
7:"Pos"
8:""
9:"Venue"
10:"Date"
11:"Results Score"

In [4]:
#Since our first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 11, the //tr data is not from our table 
    if len(T)!=11:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()
        data=data.strip()
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [5]:
[len(C) for (title,C) in col]

[100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [6]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [7]:
df

,,Competitor,DOB,Date,Mark,Nat,Pos,Rank,Results Score,Venue,WIND
0,,Usain BOLT,21 AUG 1986,16 AUG 2009,9.58,JAM,1,1,1356,Berlin (GER),+0.9
1,,Tyson GAY,09 AUG 1982,20 SEP 2009,9.69,USA,1,2,1316,Shanghai (CHN),+2.0
2,,Yohan BLAKE,26 DEC 1989,23 AUG 2012,9.69,JAM,1,2,1316,Lausanne (SUI),-0.1
3,,Asafa POWELL,23 NOV 1982,02 SEP 2008,9.72,JAM,1f1,4,1305,Lausanne (SUI),+0.2
4,,Justin GATLIN,10 FEB 1982,15 MAY 2015,9.74,USA,1,5,1298,Doha (QAT),+0.9
5,,Nesta CARTER,10 NOV 1985,29 AUG 2010,9.78,JAM,1,6,1283,Rieti (ITA),+0.9
6,,Maurice GREENE,23 JUL 1974,16 JUN 1999,9.79,USA,1f3,7,1280,Athina (GRE),+0.1
7,,Christian COLEMAN,06 MAR 1996,31 AUG 2018,9.79,USA,1,7,1281,Bruxelles (BEL),-0.3
8,,Steve MULLINGS,29 NOV 1982,04 JUN 2011,9.80,JAM,1,9,1276,"Eugene, OR (USA)",+1.3
9,,Richard THOMPSON,07 JUN 1985,21 JUN 2014,9.82,TTO,1f2,10,1269,Port-of-Spain (TTO),+1.7
10,,Donovan BAILEY,16 DEC 1967,27 JUL 1996,9.84,CAN,1,11,1262,"Atlanta, GA (USA)",+0.7
11,,Bruny SURIN,12 JUL 1967,22 AUG 1999,9.84,CAN,2,11,1262,Sevilla (ESP),+0.2
12,,Trayvon BROMELL,10 JUL 1995,25 JUN 2015,9.84,USA,1h4,11,1262,"Eugene, OR (USA)",+1.3
13,,Leroy BURRELL,21 FEB 1967,06 JUL 1994,9.85,USA,1f3,14,1259,Lausanne (SUI),+1.2
14,,Olusoji Adetokunbo FASUBA,09 JUL 1984,12 MAY 2006,9.85,NGR,1,14,1259,Doha (QAT),+1.7
15,,Michael RODGERS,24 APR 1985,04 JUN 2011,9.85,USA,2,14,1259,"Eugene, OR (USA)",+1.3
16,,Carl LEWIS,01 JUL 1961,25 AUG 1991,9.86,USA,1,17,1255,Tokyo (JPN),+1.2
17,,Frank FREDERICKS,02 OCT 1967,03 JUL 1996,9.86,NAM,1f1,17,1257,Lausanne (SUI),-0.4
18,,Ato BOLDON,30 DEC 1973,19 APR 1998,9.86,TTO,1,17,1255,"Walnut, CA (USA)",+1.8
19,,Francis OBIKWELU,22 NOV 1978,22 AUG 2004,9.86,POR,2,17,1255,Athina (GRE),+0.6
20,,Keston BLEDMAN,08 MAR 1988,23 JUN 2012,9.86,TTO,1f2,17,1255,Port-of-Spain (TTO),+1.4
21,,Jimmy VICAUT,27 FEB 1992,04 JUL 2015,9.86,FRA,2,17,1255,Paris (FRA),+1.3
22,,Noah LYLES,18 JUL 1997,18 MAY 2019,9.86,USA,1,17,1255,Shanghai (CHN),+0.9
23,,Divine ODUDURU,07 OCT 1996,07 JUN 2019,9.86,NGR,1,17,1255,"Austin, TX (USA)",+0.8
24,,Linford CHRISTIE,02 APR 1960,15 AUG 1993,9.87,GBR,1,25,1252,Stuttgart (GER),+0.3
25,,Obadele THOMPSON,30 MAR 1976,11 SEP 1998,9.87,BAR,1,25,1253,Johannesburg (RSA),-0.2
26,,Ronnie BAKER,15 OCT 1993,22 AUG 2018,9.87,USA,1,25,1252,Chorzów (POL),-0.1
27,,Shawn CRAWFORD,14 JAN 1978,19 JUN 2004,9.88,USA,1,28,1248,"Eugene, OR (USA)",+1.8
28,,Walter DIX,31 JAN 1986,08 AUG 2010,9.88,USA,2f2,28,1248,Luzern (SUI),+1.0
29,,Ryan BAILEY,13 APR 1989,29 AUG 2010,9.88,USA,2,28,1248,Rieti (ITA),+0.9
...,...,...,...,...,...,...,...,...,...,...,...
70,,Andrew FISHER,15 DEC 1991,11 JUL 2015,9.94,JAM,2,68,1227,Madrid (ESP),+1.4
71,,Ameer WEBB,19 MAR 1991,02 JUN 2016,9.94,USA,2f1,68,1227,Roma (ITA),+1.0
72,,Wayde VAN NIEKERK,15 JUL 1992,20 JUN 2017,9.94,RSA,1f3,68,1227,Velenje (SLO),+0.9
73,,Arthur CISSÉ,29 DEC 1996,16 JUN 2018,9.94,CIV,1,68,1228,Leverkusen (GER),-0.2
74,,Reece PRESCOD,29 FEB 1996,18 AUG 2018,9.94,GBR,2,68,1230,Birmingham (GBR),-0.5
75,,Jim HINES,10 SEP 1946,14 OCT 1968,9.95,USA,1,76,1224,Ciudad de México (MEX),+0.3
76,,Ben JOHNSON,30 DEC 1961,09 JUL 1986,9.95,CAN,1f1,76,1224,Moskva (URS),+0.8
77,,Olapade ADENIKEN,19 AUG 1969,16 APR 1994,9.95,NGR,1f1,76,1224,"El Paso, TX (USA)",+1.9
78,,Vincent HENDERSON,20 OCT 1972,09 AUG 1998,9.95,USA,1,76,1224,Leverkusen (GER),+0.8
79,,Joshua J. JOHNSON,10 MAY 1976,21 APR 2002,9.95,USA,1,76,1224,"Walnut, CA (USA)",+1.8
80,,Deji ALIU,22 NOV 1975,12 OCT 2003,9.95,NGR,1,76,1224,Abuja (NGR),+0.6
81,,John CAPEL,27 OCT 1978,19 JUN 2004,9.95,USA,3,76,1224,"Eugene, OR (USA)",+1.8
82,,Rodney MARTIN,22 DEC 1982,28 JUN 2008,9.95,USA,2qf2,76,1224,"Eugene, OR (USA)",+1.6
83,,Trell KIMMONS,13 JUL 1985,19 AUG 2010,9.95,USA,1f2,76,1228,Zürich (SUI),-0.8
84,,Mario FORSYTHE,30 OCT 1985,29 AUG 2010,9.95,JAM,3,76,1224,Rieti (ITA),+0.9
85,,Kemar HYMAN,11 OCT 1989,07 JUL 2012,9.95,CAY,1h2,76,1224,Madrid (ESP),+1.8
86,,Thando ROTO,26 SEP 1995,18 MAR 2017,9.95,RSA,2,76,1224,Pretoria (RSA),+1.2
87,,Mel LATTANY,10 AUG 1959,05 MAY 1984,9.96,USA,1,88,1220,Athens (USA),+0.1
88,,Raymond STEWART,18 MAR 1965,25 AUG 1991,9.96,JAM,6,88,1220,Tokyo (JPN),+1.2
89,,Kareem STREETE-THOMPSON,30 MAR 1973,12 JUN 1997,9.96,USA,h,88,1220,"Indianapolis, IN (USA)",+0.8
90,,Marc BURNS,07 JAN 1983,25 JUN 2005,9.96,TTO,1,88,1220,Port-of-Spain (TTO),+1.0
91,,Wallace SPEARMON,24 DEC 1984,28 SEP 2007,9.96,USA,1,88,1220,Shanghai (CHN),0.0
92,,Harry ADAMS,27 NOV 1989,06 JUN 2012,9.96,USA,1h2,88,1220,"Des Moines, IA (USA)",+1.4
93,,Dentarius LOCKE,12 DEC 1989,19 JUL 2013,9.96,USA,2,88,1222,Monaco (MON),-0.4
94,,Chijindu UJAH,05 MAR 1994,08 JUN 2014,9.96,GBR,2,88,1220,Hengelo (NED),+1.4
95,,Quentin BUTLER,18 SEP 1992,25 JUN 2015,9.96,USA,2h4,88,1220,"Eugene, OR (USA)",+1.3
96,,Senoj-Jay GIVANS,30 DEC 1993,08 JUN 2016,9.96,JAM,1sf3,88,1220,"Eugene, OR (USA)",+1.6
97,,Aaron BROWN,27 MAY 1992,11 JUN 2016,9.96,CAN,1h1,88,1220,"Montverde, FL (USA)",+2.0
98,,Joel FEARON,11 OCT 1988,30 JUL 2016,9.96,GBR,1,88,1220,Bedford (GBR),+2.0
99,,Ben Youssef MEITÉ,11 NOV 1986,14 AUG 2016,9.96,CIV,6,88,1220,Rio de Janeiro (BRA),+0.2